.custom-cursor {
  a,
  button,
  .button-98,
  .login-button,
  .help-button,
  .chat-choice,
  input[type="text"],
  input[type="password"],
  .cursor-move,
  .cursor-beam,
  .cursor-pointer {
    cursor: inherit;
  }
  cursor: inherit;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}
